// base

@media screen and (min-width: 1440px) {
    html {
        max-width: 1440px;
        margin: auto;
    }
}

@media screen and (max-width: 1023px) {
    html {
        margin: 20px 50px;
    }
}

body {
    margin: 40px 100px;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;

    .logo {
        height: 50px;
    }

    h1 {
        font-size: 36px;
        font-weight: 400;
        line-height: 47px;
        color: $primary;
    }
}
