body {
    font-family: 'DM Sans', sans-serif;
}

button {
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
}

h1 {
    font-family: 'DM Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 83px;
    color: $secondary;
    margin: 0;
}

h2 {
    font-weight: 400;
    font-size: 36px;
    line-height: 46.87px;
}
