@keyframes fadeIn {
  from {
    opacity: 0;
    visibility: hidden;
  }
  to {
    opacity: 1;
    visibility: visible;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
    visibility: visible;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}
/* https://github.com/resetercss/reseter.css */
*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

html {
  line-height: 1.15;
  box-sizing: border-box;
  font-family: sans-serif;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

a {
  background-color: transparent;
}

abbr[title] {
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}

code,
kbd,
samp,
pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

button,
input,
optgroup,
select,
textarea {
  line-height: inherit;
  border: 1px solid currentColor;
}

button {
  overflow: visible;
  text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
  padding: 1px 6px;
}

input {
  overflow: visible;
}

input,
textarea {
  padding: 1px;
}

fieldset {
  border: 1px solid currentColor;
  margin: 0 2px;
}

legend {
  color: inherit;
  display: table;
  max-width: 100%;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

select {
  text-transform: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=color] {
  background: inherit;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.5;
}

::-webkit-search-decoration,
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

::-moz-focus-inner {
  border: 0;
}

:-moz-focusring {
  outline: 1px dotted ButtonText;
}

:-moz-ui-invalid {
  box-shadow: none;
}

hr {
  box-sizing: content-box;
  height: 0;
  color: inherit;
  overflow: visible;
}

dl,
ol,
ul {
  margin: 1em 0;
}

ol ol,
ol ul,
ol dl,
ul ol,
ul ul,
ul dl,
dl ol,
dl ul,
dl dl {
  margin: 0;
}

b,
strong {
  font-weight: bolder;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

table {
  text-indent: 0;
  border-color: inherit;
}

details {
  display: block;
}

dialog {
  background-color: inherit;
  border: solid;
  color: inherit;
  display: block;
  height: fit-content;
  left: 0;
  margin: auto;
  padding: 1em;
  position: absolute;
  right: 0;
  width: fit-content;
}

dialog:not([open]) {
  display: none;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

@media screen and (min-width: 1440px) {
  html {
    max-width: 1440px;
    margin: auto;
  }
}
@media screen and (max-width: 1023px) {
  html {
    margin: 20px 50px;
  }
}
body {
  margin: 40px 100px;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}
header .logo {
  height: 50px;
}
header h1 {
  font-size: 36px;
  font-weight: 400;
  line-height: 47px;
  color: rgb(144, 28, 28);
}

.no-scroll {
  overflow: hidden;
}

body {
  font-family: "DM Sans", sans-serif;
}

button {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
}

h1 {
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 83px;
  color: rgb(211, 87, 60);
  margin: 0;
}

h2 {
  font-weight: 400;
  font-size: 36px;
  line-height: 46.87px;
}

.FE-button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgb(144, 28, 28);
  color: rgb(255, 255, 255);
  padding: 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  white-space: nowrap;
}
.FE-button:hover, .FE-button:focus {
  transition: background-color 0.3s, color 0.3s;
  background-color: rgb(211, 87, 60);
  color: rgb(0, 0, 0);
}

.photographer__filter {
  display: flex;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  color: #000000;
  margin: 0;
  margin-bottom: 30px;
  height: 60px;
  user-select: none;
}
.photographer__filter--label {
  font-family: DM Sans;
  font-size: 18px;
  font-weight: 700;
  line-height: 23px;
}
.photographer__filter--select {
  width: 165px;
  display: flex;
  justify-content: space-between;
  gap: 25px;
}
.photographer__filter--menu {
  display: none;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 90px;
  padding: 10px !important;
  z-index: 10;
}
.photographer__filter--menu .FE-button {
  width: 100%;
  justify-content: flex-start;
  padding: 10px;
}
.photographer__filter--menu .FE-button:hover {
  background: rgb(211, 87, 60) !important;
}
.photographer__filter #filter-popularite {
  display: flex;
  gap: 25px;
  padding: 10px;
}
.photographer__filter--separator {
  height: 1px;
  width: 150px;
  background-color: rgb(255, 255, 255);
  margin: 0 -5px;
}
.photographer__filter .FE-button:hover {
  background: rgb(144, 28, 28);
  color: rgb(255, 255, 255);
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}
form label {
  color: rgb(49, 46, 46);
  font-size: 36px;
}
form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 10px;
}
form input,
form textarea {
  width: 100%;
  height: 68px;
  border: 2px solid transparent;
  border-radius: 5px;
  padding: 10px;
  font-size: 18px;
}
form textarea {
  height: 170px;
  resize: none;
}

.modal {
  width: 670px;
  height: 975px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  margin-top: 70px;
  padding: 35px;
  border-radius: 5px;
  border: none;
  background-color: #db8876;
  filter: drop-shadow(-5px 10px 30px rgba(0, 0, 0, 0.25));
  z-index: 11;
}
.modal header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}
.modal header img {
  cursor: pointer;
}
.modal header h2 {
  font-family: DM Sans;
  font-size: 64px;
  font-weight: 400;
  line-height: 83px;
  text-align: left;
}
.modal__background {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  z-index: 10;
  background: rgba(196, 196, 196, 0.4);
}
.modal__contact--submit {
  width: 170px;
  text-align: center;
  margin: 10px;
  margin-left: 0;
}
.modal .error {
  color: rgb(144, 28, 28);
}

#contact_modal {
  display: none;
}

.photographer__section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 70px;
  margin-top: 60px;
}
.photographer__section article {
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.photographer__section article a {
  text-decoration: none;
}
.photographer__section article img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
  margin-bottom: 20px;
}
.photographer__section article h2 {
  color: rgb(211, 87, 60);
  text-align: center;
}
.photographer__card--link {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.photographer__card--subcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.photographer__card--place {
  font-size: 13px;
  line-height: 16.93px;
  color: rgb(144, 28, 28);
}
.photographer__card--tagline {
  font-size: 10px;
  line-height: 13.02px;
}
.photographer__card--dailyprice {
  font-size: 9px;
  line-height: 11.72px;
  color: rgb(117, 117, 117);
}
.photographer__page--headcontainer {
  height: 300px;
  background-color: rgb(250, 250, 250);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 50px;
}
.photographer__page--presentation {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: flex-start;
}
.photographer__page--presentation h1 {
  color: rgb(211, 87, 60);
}
.photographer__page--place {
  color: rgb(144, 28, 28);
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 31px;
}
.photographer__page--tagline {
  color: rgb(82, 82, 82);
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
}
.photographer__page--avatar {
  padding: 10px;
}
.photographer__page--avatar img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
}
.photographer__filter {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
}
.photographer__filter label {
  margin-right: 25px;
}
.photographer__portfolio--media {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.photographer__portfolio--media article {
  margin-bottom: 20px;
}
.photographer__portfolio--img, .photographer__portfolio--video {
  height: 300px;
  width: 350px;
  object-fit: cover;
}
.photographer__portfolio--subcontainer h2 {
  font-size: 24px;
  font-weight: 400;
  line-height: 31px;
  color: rgb(144, 28, 28);
}

/*# sourceMappingURL=main.css.map */
