.modal {
    &__contact {
        &--background {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            overflow: auto;
            z-index: 10;
            background: rgba(196, 196, 196, 0.4);
        }

        &--close {
            cursor: pointer;
        }

        &--submit {
            width: 170px;
            text-align: center;
            margin: 10px;
            margin-left: 0;
        }
    }
}
