.modal {
    &__lightbox {
        width: calc(100% - 200px);
        max-width: 1250px;
        height: calc(100% - 140px);
        max-height: 1000px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        margin: auto;
        margin-top: 130px;
        padding: 35px;
        border-radius: 5px;
        border: none;
        background-color: #db8876;
        filter: drop-shadow(-5px 10px 30px rgba(0, 0, 0, 0.25));
        z-index: 11;
        background-color: $white;

        &--background {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            overflow: auto;
            z-index: 10;
            background: rgba(196, 196, 196, 0.4);
        }

        &--container {
            height: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: row;
            flex-wrap: nowrap;
        }

        &--subcontainer {
            height: 100%;
            display: flex;
            flex-direction: column;
        }

        &--close {
            cursor: pointer;
            margin-bottom: 400px;

            path {
                fill: $primary;
            }
        }

        &--arrowleft,
        &--arrowright {
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;

            i {
                color: $primary;
                font-size: 30px;
            }
        }

        &--media {
            height: calc(100% - 35px);
            width: calc(100% - 35px);
            margin: 15px 30px;
        }

        &--mediacontainer {
            height: 700px;
            width: 100%;
            border-radius: 10px;
        }

        &--title {
            font-size: 24px;
            margin-left: 30px;
            color: $primary;
        }
    }
}
