.photographer {
    &__section {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 70px;
        margin-top: 60px;

        article {
            justify-self: center;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            a {
                text-decoration: none;
            }

            img {
                height: 200px;
                width: 200px;
                border-radius: 50%;
                object-fit: cover;
                box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
                margin-bottom: 20px;
            }

            h2 {
                color: $secondary;
                text-align: center;
            }
        }
    }

    &__card {
        &--link {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &--subcontainer {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &--place {
            font-size: 13px;
            line-height: 16.93px;
            color: rgba(144, 28, 28, 1);
        }

        &--tagline {
            font-size: 10px;
            line-height: 13.02px;
        }

        &--dailyprice {
            font-size: 9px;
            line-height: 11.72px;
            color: rgba(117, 117, 117, 1);
        }
    }

    &__page {
        &--headcontainer {
            height: 300px;
            background-color: $light;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-content: center;
            align-items: center;
            justify-content: space-between;
            border-radius: 5px;
            margin-bottom: 20px;
            padding: 50px;
        }

        &--presentation {
            height: 100%;
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: space-evenly;
            align-items: flex-start;

            h1 {
                color: $secondary;
            }
        }
        &--place {
            color: $primary;
            font-family: 'DM Sans', sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
            line-height: 31px;
        }
        &--tagline {
            color: $gray;
            font-family: 'DM Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 23px;
        }

        &--avatar {
            padding: 10px;

            img {
                height: 200px;
                width: 200px;
                border-radius: 50%;
                object-fit: cover;
                box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
            }
        }
    }

    &__filter {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 20px;

        label {
            margin-right: 25px;
        }
    }

    &__portfolio {
        &--container {
            cursor: pointer;
        }

        &--media {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: flex-start;
            justify-content: space-between;

            article {
                margin-bottom: 20px;
            }
        }

        &--img,
        &--video {
            height: 300px;
            width: 350px;
            object-fit: cover;
            border-radius: 10px;
        }

        &--subcontainer {
            max-width: 350px;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: center;
            justify-content: space-between;

            h2 {
                font-size: 24px;
                font-weight: 400;
                line-height: 31px;
                color: $primary;
            }
        }

        &--likecontainer {
            display: flex;
            align-items: center;
            cursor: pointer;

            &:hover {
                .photographer__portfolio--likenumber,
                .fa-heart {
                    color: $secondary;
                }
            }
        }

        &--likenumber {
            font-family: DM Sans;
            font-size: 24px;
            font-weight: 500;
            line-height: 31px;
            color: $primary;
            margin-right: 5px;
        }
    }
}
