$primary: rgb(144, 28, 28); // #901C1C
$secondary: rgb(211, 87, 60); // #D3573C
$gray: rgb(82, 82, 82); //  #525252
$grayDark: rgb(49, 46, 46); // #312e2e
$light: rgb(250, 250, 250); // #FAFAFA

$white: rgb(255, 255, 255); // #FFFFFF
$black: rgb(0, 0, 0); // #000000
